@media only screen and (max-width: 900px) {
    .data {
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {
    .data {
        font-size: 8px;
    }
}

.card-hover {
    transition: 0.3s;
}

.card-hover:hover {
    color: #fc6d26;
    transition: 0.3s;
}